@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Matching</h1>
    <p class="lead">This is a web based matching application!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What Do We Do?</h2>
        <p>
            We match x with y to save you time!
        </p>
    </div>
</div>